<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SmallBizBlast</title>
      <link rel="stylesheet" type="text/css" href="css/vendor-stylesd4d5.css?1584026454"/>
      <link rel="stylesheet" type="text/css" href="css/combined-styles-v3d4d5.css?1584026454"/>
      <link rel="stylesheet" type="text/css" href="css/common-stylesd4d5.css?1584026454"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   
     </head>
     <body>
     	<div id="responsiveWrapper_main">
     		<div id="responsiveWrapper_sub">
     			<nav role="navigation" class="j-navigation-wrapper" ></nav>
     			<main role="application" class="j-body-wrapper">
     				<div class="body-content">
     					<!-- SBS Header -->
     					<div class="global-header" ng-controller="headerSboPageCtrl as headerSbo">
    <div id="sbo-header">

        <div class="sbo-header-inner">

            <a ng-show="headerSbo.customHeader" class="logo shopsmall-icon shopsmall-icon-teal cursor-auto pointer-events-none" href="smallbizblasthom23e.html" title="Link to Homepage">
                <img src="images/smallbizblast-logo-main-web.png" alt="Small Business Saturday logo from 2019">
            </a>
           
            <div class="pageName visible-xs"></div>

            <div class="ss-amex-logo center-this">
            </div>

            <ul class="nav-main">
                <li class="view-shopsmall hidden-xs1">
                    <a class="link" href="#" id="about" title="Click here to visit the About page">About Small Biz Blast</a>
                </li>
                <li class="view-shopsmall hidden-xs1">
                    <a class="link" href="communitydealpage.html" id="participate" title="Click here to know how to participate">Comunity deals Page</a>
                </li>
                <li class="view-shopsmall hidden-xs1">
                    <a class="link" href="addmybusiness.html" id="docuseries" title="Click here to watch the docuseries page">Add My Business</a>
                </li>
                <li class="view-shopsmall hidden-xs1">
                    <a class="link" href="#" id="docuseries" title="Click here to watch the docuseries page">Contact us</a>
                </li>


                <li class="view-shopsmall visible-xs amex-logo-icn">
                    <a class="link grey-c cursor-auto" href="#" rel="noopener no-referrer" title="Click here to visit the link">
                    	<span class="amex-logo-right-grey" title="Link to Homepage"><span>SmallBizBlast</span></span></a>
                    <a ng-hide="headerSbo.customHeader" class="link grey-c" href="#" rel="noopener no-referrer" target="_blank" title="Click here to visit the link"><span class="amex-logo-right-grey" title="Link to Homepage"><span>SmallBizBlast</span></span></a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!--  This page is monitoring by Gomez. Don't remove this line  “Shop Small Saturday” keyword -->
<div id="bodyContent">
    <div ng-controller="nationalHomeCtrl as nationalHome" id="national-home" class="nh-page nov25 center-text">
    <location-finder show='modal' dialog-title='Location detection modal' exptype="pilot" showexperience="nationalHome.showexperience" on-success="nationalHome.success(item)"></location-finder>


    <section class="studio-block custom-materials stayHome top-margin" id="stayHome">
        <div class="container">
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="container" aria-label="SmallBizBlast">
                            <img src="images\nvr.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 content-block float-right">
                        <div class="h1 ff-reg fs">Let's All Pledge to<br> #StayHome and #SmallBizBlast</div>
                        <div class="body1 fs ff-bk grey-5">Small businesses need your business, now more than ever. Use our<br> downloadable social post on your Instagram story to encourage your friends<br> to take the pledge, too: #StayHome and #SmallBizBlast by ordering delivery,<br> shopping online, or buying a gift card to use later.</div>
                        <a href="#" target="_blank" class="cta btn ff-bd" title="Click here to download">Download Now</a>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-block">
        <div class="col-md-12 col-sm-12 col-xs-12 see-what-section see-what-its-about center-text p-0">
            <p class='content-styles-3 ff-md c-blue'></p> 
            <i class='arrow'></i> 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="sbs-full-story covid-hero2" role="img" aria-label="Amex GBS Business Single" style="background-image: url('images/Officedesign.jpg');">
                        <div class="content-block center-this">
                            <div class="h2 ff-reg"> Get the Tools Small Business Owners<br> Need to Thrive Through Social Distancing</div>
                            <p class="body1 ff-bk"> Customers may be staying home – but let's remind them that<br> they can still <span class="no-wrap">Small Biz Blast</span>. We've created a suite of ready-to-<br> use materials you can use to remind your community that<br> they can still support local businesses like yours, right now.</p>
                            <a href="#" target="_blank" class="btn cta" title="Click here to visit the link">Let's Go</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="rally-block covid" id="PlananEvent">
        <div class="container custom-container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="heading-section">
                        <h2 class="h2 custom black-c"> Educational Resources for Small Business Owners<br> Navigating <span class="no-wrap">COVID-19</span></h2>
                        <div class="body1 grey-5 ff-bk">It’s business as unusual for us all – explore articles for small business<br> owners that can help during this challenging time.</div>
                    </div>

                    <div class="carousel slide row" id="myCarousel" data-interval="false" data-ride="carousel">
                        <div class="card-wrapper carousel-inner">
                            <div class="col-md-4 col-sm-6 col-xs-12 card">
                                <div class="gcs-img1 event-img" role="img" aria-label="A young girl is laughing while enjoying breakfast with her mom." style="background-image: url('images/spk.jpg');"></div>
                                <div class="content-block">
                                    <div class="h4"><a href="#" class="white-c" target="_blank" title="Click here to visit the link">5 Ways Businesses Can Help Their Communities During COVID-19</a></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 card">
                                <div class="gcs-img2 event-img" role="img" aria-label="A cheeseburger with a small Small Biz Blast toothpick flag in the bun." style="background-image: url('images/southogden.jpg');"></div>
                                <div class="content-block">
                                    <div class="h4"><a href="#" class="white-c" target="_blank" title="Click here to visit the link">How to Lead Employees Through COVID-19 and Social Distancing</a></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 card">
                                <div class="gcs-img3 event-img" role="img" aria-label="Two women are shopping while discussing a blue long-sleeve shirt on a hanger."style="background-image: url('images/spk2.jpg');"></div>
                                <div class="content-block">
                                    <div class="h4"><a href="#" class="white-c" target="_blank" title="Click here to visit the link">How Businesses Can Adapt to Changing Mandates Under COVID-19</a></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 card">
                                <div class="gcs-img4 event-img" role="img" aria-label="Small Business Saturday Passport"style="background-image: url('images/Officedesign.jpg');"></div>
                                <div class="content-block">
                                    <div class="h3"><a href="#" class="white-c" target="_blank" title="Click here to visit the link">A Business Owner's Guide to Working From Home During the Coronavirus Outbreak</a></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 card">
                                <div class="gcs-img5 event-img" role="img" aria-label="Two children and their parents are shopping at a local bookstore on Small Business Saturday." style="background-image: url('images/Officedesign.jpg');"></div>
                                <div class="content-block">
                                    <div class="h3"><a href="#">How Small Businesses Can Approach a Temporary Shutdown</a></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 card">
                                <div class="gcs-img6 event-img" role="img" aria-label="Two children and their parents are shopping at a local bookstore on Small Business Saturday." style="background-image: url('images/Officedesign.jpg');"></div>
                                <div class="content-block">
                                    <div class="h3"><a href="#" class="white-c" target="_blank" title="Click here to visit the link">How to Communicate Your Coronavirus Plans to Your Employees</a></div>
                                </div>
                            </div>
                        </div>
<!-- 
                        <ol class="carousel-indicators" ng-show="nationalHome.width<768">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="5" class=""></li>
                        </ol> -->

                        <!-- Left and right controls -->
                        <a class="left carousel-control hidden-xs" href="#" role="button" data-slide="prev" title="Click here to visit the previous article">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control hidden-xs" href="#" role="button" data-slide="next" title="Click here to visit the next article">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <a href="https://www.americanexpress.com/en-us/business/trends-and-insights/solutions/Navigating-COVID-19/?intlink=us-shopsmall-covid-2020-home-bti" target="_blank" class="cta btn" title="Click here to visit the link">Find More articles Here</a>

                </div>
            </div>
        </div>
    </section>



    <section class="shopsmall-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 shopsmall-wrapper">
            <div>
                                <img src="images/aeroplane.PNG" alt="">

            </div>
                    <div class="white-plane"></div>
                    <h2 class="sub-heading ff-bd">About Small Biz Blast<sup>&reg;</sup></h2>
                    <div class="h1 ff-reg">The movement that's all about<br> supporting small businesses all year long</div>
                    <div class="body1 ff-bk grey-5">Every time you pick up a coffee at your local café, grab lunch at the mom-and-pop shop, or buy a<br> new bag from a local store, you’re making an impact in your community. <strong>In fact, for every dollar<br> spent at a small business in the U.S., approximately 67 cents stays in the local community.</strong><sup class="md">1</sup><br>  Learn more about the <span class="no-wrap">Small Biz Blast</span> Movement and why ABCD is proud to back<br> small businesses &mdash; online and on main street &mdash; all across the country.</div>
                    <a href="about/index50a1.html?linknav=us-loy-homepage-learnmore" class="btn cta" title="Click here to visit the link">Learn More</a>
                    <div class="legal-font ff-bk grey-5"><sup class="md">1</sup>Estimate from data on businesses with under 100 employees, as reported<br> in Amex-commissioned 2018 <em>Small Business Economic Impact Study</em>,<br> <a href='https://amex.co/another-reason-shop-small' class='gbs-c ff-md no-wrap' target='_blank' title='Click here to visit the link'>#</a>.</div>
                </div>
            </div>
        </div>
    </section>

    <div class="instagram" id="instagram">
        <div class="container">
            <div class="row">
                <div class="col-md-12 instagram-container">
                    <h2 class="h1 custom">Follow the movement</h2>

                    <p class="body1 fs grey-5">Find us on Instagram <a href=""class="gbs-c ff-md" title="Click here to vist shopsmall instagram page">@smallbizblast</a> to keep up with all the latest #SmallBizBlast news and events.</p>
                    <div class="row mb-5 mt-5">
                        <div class="col-lg-4 col-md-4 col-12"><img src="images/panel.jpg"></div>
                        <div class="col-lg-4 col-md-4 col-12"><img src="images/panel2.jpg"></div>
                        <div class="col-lg-4 col-md-4 col-12"><img src="images/panel.jpg"></div>
                    </div>
                    <div class="btn-block clearfix">
                        <a href="#" class="cta btn" title="Click here to see more">SEE MORE</a>
                    </div>
                    <div class="btn-block clearfix">
                        <a href="#" class="gbs-c" title="Click here to see less">See Less</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div id="foot-wrapper">
  

    <div class="stayConnected global-footer" id="stayConnected"></div>

    <div id="foot"></div>

    <footer id="Sticky-footer" ng-controller="footerController as footer">
        <ul id="footer-links">
            <li id="fl-ss">
                <span>SmallBizBlast<sup>&reg;</sup></span>
                <ul>
                    <li>
                        <a href="#"
                           title="Link to About us Page">About</a>
                    </li>
                    <li>
                        <a href="#"
                           title="Link to FAQs Page">Frequently Asked Questions</a>
                    </li>
                    <li>
                        <a href="#"
                           title="2019 Neighborhood Champions">2019 Neighborhood Champions</a>
                    </li>
                    <li>
                        <a href="#"
                           title="2019 Supporters">2019 Supporters</a>
                    </li>
                    <li>
                        <a href="#"
                           title="Click here to visit Shop Small Newsroom" target="_blank">SmallBizBlast</a>
                    </li>
                </ul>
            </li>
            <li id="fl-more">
                <span>More From ABCD</span>
                <ul>
                    <li>
                        <a href="#" target="_blank" rel="noopener no-referrer" >Accept American Cards</a>
                    </li>
                    <li>
                        <a href="#" title="Link to Small Business Credit Cards" target="_blank" rel="noopener no-referrer">Business Credit Cards</a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener no-referrer" title="Link to ABCD">ABCD Homepage</a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="noopener no-referrer" title="Link to ABCD">ABCD Merchant Services</a>
                    </li>
                </ul>
            </li>
            <hr class="footerLine">
            <li id="fl-sl">
                <span>Follow Us On</span>
                <ul>
                    <li class="twitter">
                        <a href="#"
                           target="_blank"
                           title="Link to Twitter">Twitter</a>
                    </li>
                </ul>
                <ul>
                    <li class="twitter">
                        <a href="#"
                           target="_blank"
                           title="Link to Twitter">Twitter</a>
                    </li>
                </ul>
                <ul>
                    <li class="instagram">
                        <a href="#"
                           target="_blank"
                           title="Link to Instagram">Instagram
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr class="footerLine hidden">
        <ul class="amex-footer">
            <li>
                <a href="#"
                   target="_blank" rel="noopener no-referrer" title="Link to Terms of Service">Terms of Service</a></li>
            <li>
                <a href="#"
                   target="_blank" rel="noopener no-referrer" title="Link to Privacy Statement ">Privacy Statement</a></li>
            <li id="adChoice">
                <a href="#" target="_blank" rel="noopener no-referrer" title="Link to AdChoices" id="ad-choices">AdChoices</a></li>
            <li>
                <a href="#"
                   target="_blank" rel="noopener no-referrer" title="Link to Card Agreements">Card Agreements</a></li>
            <li>
                <a href="#" target="_blank" rel="noopener no-referrer" title="Link to Security Center ">Security Center</a></li>
            <li>
                <a href="#"
                   target="_blank" rel="noopener no-referrer" title="Link to Financial Education">Financial Education</a></li>
            <li>
                <a href="#"
                   target="_blank" rel="noopener no-referrer" title="Link to Servicemember Benefits">Servicemember Benefits</a></li>
        </ul>
        <div class="cpyrgt">
            <p>
                All users of our online services subject to Privacy Statement and agree to be bound by Terms of Service. Please review.<br/> &copy;2020 Small Biz Blast. All rights reserved.
            </p>
        </div>
    </footer>
</div>

